
.btn-blue {

	background-color: #cd4d4d;
	padding: 15px 20px;
	margin-left: 300px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: 'Inter';
    }


.btn-banner {
	background-color: #cd4d4d;
	padding: 15px 210px;
    margin-left: 301px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: 'Inter';
    }

.btn-card {
	background-color: #cd4d4d;
	padding: 7px 23px;
    margin-left: 301px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: 'Inter';
    }

.btn-TypeF {
	background-color: #C3A374;
	padding: 50px 200px;
	text-align: center;
	margin-left: 315px;
	border-radius: 4px;
	color: black;
	font-weight: bold;
	font-family: 'Inter';
	font-size: 25px;
    }









