


/* 100% blablabla  */

  .customer-avatar {
    text-align: center;
    }


  .Texte1et2 {
    color: white;
    font-size: 40px;
    text-align: left;
    margin-left: 300px;

    }

  #titre2 {
    text-shadow: 2px 2px 4px #000000;
    }


  